* { box-sizing: border-box;}

.escenario {
  width: 755px;
  height: 387px;
  position: relative;
  background-image: url("11.png");
  animation: slide 2s steps(72);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

}

@keyframes slide {
    100% {background-position: -54360px}
}

.otaco {
  width: 256px;
  height: 256px;
  position: absolute;

  background: url("2.png");
  animation: run-otaco 2s steps(5);
  z-index: 2;

  left: 60px;
  bottom: -39px;
  transform: scale(0.33);
}

@keyframes run-otaco {
    100% {background-position: -1280px}
}

 .enemy {
   width: 512px;
   height: 512px;
   position: absolute;

   background: url("5.png");
   animation: run-enemy 2s steps(10);
   z-index: 3;

   left: -170px;
   bottom: 15px;
   transform: scale(0.5);
 }

 @keyframes run-enemy {
     100% {background-position: -5120px}
 }



  .fire {
    width: 383px;
    height: 222px;
    position: absolute;

    background: url("8.png");
    animation: run-fire 15s steps(147);
    animation-delay: 1s;
    z-index: 3;

    left: 290px;
    bottom: 100px;
    transform: scale(1.5);

  }

  @keyframes run-fire {
      100% {background-position: 56301px}
  }
